<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List tasks</title>
</head>
<body>

<table border="1"; align="center">
    <thead>
    <tr>
        <th> Id </th>
        <th> Array1 </th>
        <th> Array2 </th>
        <th> Number </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${tasks.empty}">
        <td colspan="2"> No Task Available </td>
    </tr>
    <tr th:each="task : ${tasks}">
        <td><span th:text="${task.id}"> Id </span></td>
        <td><span th:text="${task.array1}"> Array1 </span></td>
        <td><span th:text="${task.array2}"> Array2 </span></td>
        <td><span th:text="${task.number}"> Number of task </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>